{% extends "base.html" %}

{% block content %}
    <h1>Ability Adder</h1>
    <form method="POST" actions="">
        <div class="row">
            <div class="col">
                {{ asset_form.csrf_token }}
                </br>
                {{ asset_form.name.label() }}
                </br>
                {{ asset_form.name() }}
                </br>
                {% for error in asset_form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </br>
                {{ asset_form.submit() }}
            </div>
        </div>
    </form>
{% endblock %}