{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p>Character_adder</p>
        <form method="POST" actions="/">
            {{ asset_form.csrf_token }}
            </br>
            <div class="row">
                <div class="col">
                    {% include '/gm_tools/adders/_char_page.html' %}
                </br>
                </div>
                </br>
                <div class="col">
                    {{ asset_form.char_sum.label }}
                    </br>
                    {{ asset_form.char_sum(style='width: 500px; height: 620px;') }}
                </div>
                </br>
            </div>
        </form>
    </div>
{% endblock %}