{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p>Character_adder</p>
        <form method="POST" actions="/">
            {{ asset_form.csrf_token }}
            </br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ asset_form.name.label }}
                            </br>
                            {{ asset_form.name }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.birth_name.label }}
                            </br>
                            {{ asset_form.birth_name }}
                            </br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.cur_race.label }}
                            </br>
                            {{ asset_form.cur_race }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.birth_race.label }}
                            </br>
                            {{ asset_form.birth_race }}
                            </br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.age.label }}
                            </br>
                            {{ asset_form.age }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.real_age.label }}
                            </br>
                            {{ asset_form.real_age }}
                            </br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.cur_loc.label }}
                            </br>
                            {{ asset_form.cur_loc }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.birth_loc.label }}
                            </br>
                            {{ asset_form.birth_loc }}
                            </br>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.spliced.label }}
                            </br>
                            {{ asset_form.spliced }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.robot.label }}
                            </br>
                            {{ asset_form.robot}}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.pure.label }}
                            </br>
                            {{ asset_form.pure }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.npc.label }}
                            </br>
                            {{ asset_form.npc }}
                            </br>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.job.label }}
                            </br>
                            {{ asset_form.job }}
                            </br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.job_desc.label }}
                            </br>
                            {{ asset_form.job_desc(style='width: 500px;') }}
                            </br>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.background.label }}
                            </br>
                            {{ asset_form.background }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.alignment.label }}
                            </br>
                            {{ asset_form.alignment }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.classes.label }}
                            </br>
                            {{ asset_form.classes }}
                            </br>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.strength.label }}
                            </br>
                            {{ asset_form.strength }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.dexterity.label }}
                            </br>
                            {{ asset_form.dexterity }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.constitution.label }}
                            </br>
                            {{ asset_form.constitution }}
                            </br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ asset_form.intelligence.label }}
                            </br>
                            {{ asset_form.intelligence }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.wisdom.label }}
                            </br>
                            {{ asset_form.wisdom }}
                            </br>
                        </div>
                        <div class="col">
                            {{ asset_form.charisma.label }}
                            </br>
                            {{ asset_form.charisma }}
                            </br>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ asset_form.char_sum.label }}
                    </br>
                    {{ asset_form.char_sum(style='width: 500px; height: 620px;') }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}