
@import url(https://fonts.googleapis.com/css?family=VT323);



@keyframes scroll {
    0% { height: 0 }
    100% { height: 100%; }
}

@keyframes type { 
from { width: 0; } 
} 

@keyframes type2 {
0%{width: 0;}
50%{width: 0;}
100%{ width: 100; } 
} 

::-webkit-scrollbar {
display: none;
}

* {
    box-sizing: border-box;
    }
    
html,
body {
    background: #383838;
    color: #00dd00;
    font-size: 64.5%;
    font-size: 1.4em;
    font-family: 'VT323', Courier;
    height: 100%;
    margin: 0;
    padding: 0;
    border: #ffffff;
    border-width: 1px;
}

.navbar-expand-lg {
    background-color: #ffffff;
}

h1, h2, h3 h4, h5, h6 { 
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
h4 b {
color: white;
}
a {
    color: white; 
    text-decoration: none;  
}

a:hover {
    color: red;
}

p { 
    line-height: 100%;
    margin: 0; 
}
    
span { animation: blink 1s infinite }

ul {
    list-style: none;
}

ul a:before,
p a:before {
    color: #00dd00;
    content: ' [ ';
}

ul a:after,
p a:after {
    color: #00dd00;
    content: ' ] '; 
}

header.site {
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

nav.site { 
    margin: 0 0 40px 0;
position: relative;
width: 100%;
z-index: 10;
}

nav.site ul {
    padding: 0;
}

nav.site ul li {
    display: inline-block;
padding: 0 10px;
min-width: 250px;
width: auto;
}

.overlay {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}

.overlay:before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background-size: 100% 3px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 2;
}
    
.overlay:after {
    animation: flicker 0.30s infinite;
    background: rgba(16, 16, 16, 0.2);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 2;
}

.col {
    float: left;
    padding: 0 20px;
}

.col.two { width: auto; }

.wrapper {
animation: scroll 5s 1;
margin: 0;
overflow: hidden;
padding: 0;
    scrollbar-width: none;
-ms-overflow-style: none;
}

.content { 
    animation: scroll 3s 1;
overflow: hidden;
    padding: 40px; 
    position: relative;
    width: 95%;
}

#logo-v {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 200px;
}

img.pip-hero {
    display: block;
    float: left;
    height: auto;
    margin: 5px 10px 5px 0;
    width: 120px;
}


label {
    clear: left;
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}

textarea {
    margin-bottom: 20px;
    overflow: auto;
    resize: none;
}

input[type=text]:focus,
textarea:focus,
input[type=submit]:focus,
a.button:focus {
    outline: 0;
}

input[type=submit],
a.button {
    background: transparent;
    border: 1px solid #00dd00;
    clear: both;
    color: #00dd00;
    cursor: hand;
    display: inline-block;
    font-family: 'VT323', Courier;
    font-size: 1em;
    margin-bottom: 20px;
    opacity: 0.25;
    padding: 10px 100px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

input[type=submit]:hover,
a.button:hover {
    background: #00dd00;
    color: #383838;
    opacity: 0.8;
}

input[type=button],
a.button {
    background: transparent;
    border: 1px solid #00dd00;
    clear: both;
    color: #00dd00;
    cursor: hand;
    display: inline-block;
    font-family: 'VT323', Courier;
    font-size: 1em;
    margin: 20px;
    opacity: 0.25;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

input[type=button]:hover,
a.button:hover {
    background: #00dd00;
    color: #383838;
    opacity: 0.8;
}

.expandingArea { position: relative }

.clear {
    clear: both;
}

.clearfix {
overflow: auto;
zoom: 1;
}

.upper { text-transform: uppercase; }


#container {
    display: flex;
    height: 80vh;
    overflow: hidden;
    border: 5px solid #ddd; /* Add border to the container */
    padding: 0; /* Remove padding from the container */
  }
  
  #leftPanel {
    overflow-y: auto;
    border-right: 1px solid #ccc;
    white-space: nowrap; /* Prevent word wrapping in the left panel */
    padding: 10px 10px 10px 20px; /* Add padding to the left panel */
    width: 33%;
  }

  #rightPanel {
    overflow-y: auto;
    padding: 10px 20px 10px 10px; /* Add padding to the right panel */
    width: 67%;
    position: relative; /* Add this line */
  }
  
  #separator {
    cursor: ew-resize;
    background-color: #ddd;
    width: 10px;
    height: 100%;
    position: relative;
    flex-shrink: 0;
    border: none; /* Remove border from the separator */
  }

ul {
  list-style-type: none;
  padding-left: 20px;
}

.folder {
    cursor: pointer;
    position: relative;
    left: 0px;
  }

  .file {
    cursor: pointer;
    padding-left: 32px;
  }

/* Remove bullet points for the root folder */
.root-folder {
  list-style-type: none;
}

#searchContainer {
  display: none;
  margin-top: 10px;
}

#searchResults {
  list-style-type: none;
  padding: 0;
}

#searchResults li {
  cursor: pointer;
  padding: 5px;
  /* Remove the border property */
  margin-bottom: 5px;
}

#toggleBtn {
  cursor: pointer;
  margin-bottom: 10px;
}

#editor {
  height: 100%;
  background-color: #383838;
  color: #00dd00;
  border: 2px solid #ffffff;
}

.ql-toolbar {
  background-color: #ffffff;
  overflow: visible;
}

.ql-snow .ql-picker {
    font-family: 'VT323', Courier;
    font-size: 24px !important;
    margin-left: 10px !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #00dd00 !important;
    font-family: 'VT323', Courier;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #00dd00 !important;
  font-family: 'VT323', Courier;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #00dd00 !important;
  font-family: 'VT323', Courier;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before {
  position: absolute;
}

.ql-editor {
  font-size: 2em;
  font-family: 'VT323', Courier;
}

.highlight {
  color: #000000;
  background-color: #ddd; /* Change this to the color you want */
}

#saveBtn {
  margin-bottom: 23px;
}

#folder_buttons {
  margin-bottom: 23px;
  text-align: center;
}

.deleteConfirm {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #383838;
  border: 5px solid #ddd;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.addConfirm {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #383838;
  border: 5px solid #ddd;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.moveConfirm {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #383838;
  border: 5px solid #ddd;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.custom-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px;
  padding: 6px 8px;
  margin-top: 25px;
  display: block;
}

.custom-dropdown div {
  color: black;
  padding: 6px 8px;
  font-family: 'VT323', Courier;
  text-decoration: none;
}

.custom-drop-filter {
  height: 25px;
  width: 200px;
  position: absolute;
  font-family: 'VT323', Courier;
}

.custom-drop-buttons {
  position: absolute;
  top: 80px;
  right: 210px;
}

#custom-link-button {
  transform: scale(0.65)
             translate(-8px, -14px);
}

/* Add this to your CSS */
#overlappingPanel {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; /* Adjust as needed */
  height: 100%;
  background-color: #f9f9f9;
  z-index: 2;
  display: none;
  overflow-y: auto;
}

#closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
