
  <div class="overflow-scroll">
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" style="width: 8rem;"><i class="bi bi-caret-down"> Caret Down</i></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" style="width: 8rem; margin-left: 20px"><i class="bi bi-caret-right"> Caret Right</i></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" style="width: 8rem; margin-left: 20px"><i class="bi bi-caret-right"> Caret Right</i></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" style="width: 8rem; margin-left: 20px"><i class="bi bi-caret-down"> Caret Down</i></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" style="width: 8rem; margin-left: 45px"><i class="bi bi-arrow-return-right"> Turn Right Arrow</i></div>
      </div>
    </div>
  </div>
