{% set collap_num = 1 %}
  
  <div class="overflow-scroll">
    <div class="row">
      <div class="col">
        <div class="text-nowrap bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
          <i class="bi bi-caret-down">{{ root_folder.name }}</i>
        </div>
        <div class="collapse" id="collapse0">
          <div class="card card-body" style="background-color: transparent; border-color: transparent;">     
            {% for child in root_folder.children_dirs %}
              {% set coll_tar = child.parent_dir[0].name + child.name %}
              {% set coll_tar_hash = '#' + child.parent_dir[0].name + child.name %}
              <div class="text-nowrap bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target={{coll_tar_hash}}  aria-expanded="false" style="margin-left: 20px" aria-controls={{coll_tar}}><i class="bi bi-arrow-return-right">{{ child.name }}</i></div>
              <div class="collapse" id={{coll_tar}}>
                <div class="card card-body" style="background-color: transparent; border-color: transparent;">
                {% for new_child in child.children_dirs %}
                  <div class="text-nowrap bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" style="margin-left: 20px" aria-controls="collapse2">
                    <i class="bi bi-arrow-return-right">{{ new_child.name }}</i>
                  </div>
                {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
  const collaps_num = 1;
  collaps_num = collaps_num + 1;

</script>