<i class="bi bi-folder"> Folder Not Selected</i>
<i class="bi bi-folder-fill"> Folder Selected</i>
<i class="bi bi-file-earmark-text"> File Not Selected</i>
<i class="bi bi-file-earmark-text-fill"> File Selected</i>
<i class="bi bi-file-person"> Character Not Selected</i>
<i class="bi bi-file-person-fill"> Character Selected</i>
<i class="bi bi-type-underline"> Underline Text</i>
<i class="bi bi-type-bold"> Bold Text</i>
<i class="bi bi-type-italic"> Italic Text</i>
<i class="bi bi-list-ol"> Ordered List</i>
<i class="bi bi-list-ul"> Unordered List</i>
<i class="bi bi-arrow-right"> Right Arrow</i>
<i class="bi bi-arrow-return-right"> Turn Right Arrow</i>
<i class="bi bi-arrow-bar-right"> Bar Right Arrow</i>
<i class="bi bi-caret-right"> Caret Right</i>
<i class="bi bi-caret-down"> Caret Down</i>
