
{% extends "base.html" %}

{% block content %}
    </br>
    <div class="container">
        <header class="site clearfix">
        <div class="col one">
            <img src="static/img/Logo_Boken.png" alt="Bōken Systems" width="740" height="729" id="logo-v" />
        </div>
        <div class="col two">
            <h4>Bōken Systems (tm) <br /> <b>N</b>eurally <b>O</b>rchestrated <b>T</b>imeline <b>E</b>diting <b>S</b>ystem (NOTES)</h4>
            <p>----------------------------------------</p>
            <p>NOTES v 1.0.0</p>
            <p>RPM Incorporated</p>
            <p>- Server 45 -</p>
        </div>
        </header>
    </div>



    <div class="row">
        <p id="demo">{% include "_page1.html" %}</p>
    </div>
    <button onclick="get_sub()" id="myButton">Page 2</button>
    <i class="bi bi-folder-fill"> Folder Selected</i>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function get_sub() {
            let inhtml = document.getElementById("demo").innerHTML;
            if (inhtml == '{% include "_page1.html" %}') 
            {
                document.getElementById("demo").innerHTML = '{% include "_page2.html" %}';
                document.getElementById("myButton").innerText = 'Page 1';
            } 
            else
            {
                document.getElementById("demo").innerHTML = '{% include "_page1.html" %}'; 
                document.getElementById("myButton").innerText = 'Page 2';
            }
        }
    </script>
{% endblock %}