{% extends "base.html" %}

{% block content %}


<button onclick="get_sub()">The time is?</button>

<p id="demo">{% include "_page1.html" %}</p>



<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>
        {{ p1 }}
    </div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#test').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/background_process_test',
            function(data) {
             console.log(data)
        });
      });
    });
</script>
<script>
    function get_sub() {
        let inhtml = document.getElementById("demo").innerHTML;
        if (inhtml == '{% include "_page1.html" %}') 
        {
            document.getElementById("demo").innerHTML = '{% include "_page2.html" %}';
        } 
        else
        {
            document.getElementById("demo").innerHTML = '{% include "_page1.html" %}'; 
        }
        
    }
</script>
{% endblock %}